form{
	width: 990px;
	margin: 0px auto;
	font-size: 14px;
	color: #737373;
}
form>div{
	border: 1px solid #d9d9d9;
}
.form-hd{
	background-color: #ebebeb;
	/* padding: 12px 0px; */
	height: 38px;
}
.form-hd h3{
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
	margin: 0px 20px;
}
.form-item{
	margin: 0px 20px;
	padding: 24px 0px 28px;
	border-bottom: 2px dotted #d9d9d9;
	overflow: hidden;
}
.form-item p{
	font-weight: bold;
}
.form-item a{
	float: right;
}
.form-item a:hover{
	color: #fe6600;
	text-decoration: underline;
}
.item-body{
	margin-top: 20px;
}
.item-body input{
	padding: 6px;
	font-size: 12px;
	color: #d2d2d2;
	border: 1px solid #d2d2d2;
	outline: none;
}
.item-body input[value="确定"]{
	cursor: pointer;
	padding: 6px 10px;
	background-color: #ff734d;
	border: 1px solid #ff734d;
	color: #fff;
}
.form-date{
	float: left;
}
.form-date:nth-child(2){
	margin-left: 20px;
}
.get-date{
	width: 160px;
	height: 30px;
	border: 1px solid #d2d2d2;
	margin-top: 20px;
}
.give-date{
	overflow: hidden;
	margin-top: 20px;
}
.give-date li{
	float: left;
	border: 1px solid #d2d2d2;
	padding: 6px 18px;
	margin-right: 10px;
}
form>.inorderdetail{
	border: none;
	margin-top: 20px;
}
.inorderdethd{
	border: 1px solid #d2d2d2;
}

.greetingCard>div{
	overflow: hidden;
}
.greetingCard>div>div{
	float: left;
}
.signatureCard{
	margin-right: 25px;
}
.signatureCard p{
	margin-bottom: 10px;
}
.signatureCard p:nth-of-type(2){
	margin-top: 6px;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
}
.signatureCard p b{
	color:  #ff734d;
	font-weight: 
}
textarea{
	width: 520px;
	height: 114px;
	border: 1px solid #d2d2d2;
	box-sizing: border-box;
	outline-color: #ff734d;
	padding: 6px;
}
.carTemplate ul{
	overflow: hidden;
}
.carTemplate ul li{
	float: left;
	cursor: pointer;
}
.carTemplatehd{
	font-size: 12px;
}
.carTemplatehd li{
	color: #737373;
	background-color: #eeeeee;
	margin-right: 2px;
	padding: 3px 10px;
}
.carTemplatehd li:nth-of-type(1){
	color: #fff;
	background-color: #809902;
}
.carTemplatebd{
	width: 400px;
	height: 114px;
	overflow-y: auto;
	border: 1px solid #cccccc;
	padding: 0px 10px;
	box-sizing: border-box;
	margin-top: 7px;
}
.carTemplatebd li{
	width: 360px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	margin-top: 6px;
}
.payforitem ul{
	margin-top: 15px;
	overflow: hidden;
	position: relative;
}
.payforitem ul li{
	float: left;
	border: 1px solid #cccccc;
	padding: 1px 18px;
	margin-right: 10px;
	line-height: 26px;
}
.payforitem ul li::after{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../images/common_z.png') no-repeat -208px  -318px;
	position: relative;
	top: 2px;
	margin-left: 2px;
}
.payforitem ul li:hover{
	padding: 0px 17px;
	border: 2px solid #ff7352;
}
.payforitem .paychoose{
	padding: 0px 17px;
	border: 2px solid #ff7352;
	}
.paychoose::before{
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url('../images/common_z.png') no-repeat -99px  -315px;
	position: absolute;
	top: 6px;
	margin-left: 70px;
}
.ordercheck{
	border: none;
}
.ordercheck p{
	line-height: 32px;
	color: #737373;
	font-weight: normal;
}
.ordercheck input{
	margin-right: 5px;
}
/* 核对购物清单 */
.ordershopdetail{
	overflow: hidden;
}
.ordershopdetail>a{
	float: left;
	margin: 15px 20px;
}
.ordershopdetail>a img{
	width: 48px;
	height: 54px;
	border: 1px solid #d9d9d9;
}
.ordershopdetail div{
	float: left;
	margin: 15px 20px;
	font-size: 12px;
	margin-top: 24px;
}
.ordershopdetail div>a{
	font-size: 12px;
	line-height: 20px;
}
.ordershopdetail div b{
	color: #ff6a00;
	margin-right: 20px;
}

.inorderdetbd{
	margin-top: 20px;
}
.inorderdetbd p{
	text-align: right;
	font-size: 12px;
	color: #737373;
	line-height: 20px;
	margin-top: 5px;
}
.inorderdetbd p:nth-of-type(4){
	margin: 20px 0px;
}
.inorderdetbd p b{
	color: #ff6a00;
	font-size: 18px;
}
.inorderdetbd p input{
	background-color:#ff6600;
	border: 1px solid #ff6600;
	outline: none;
	color: #fff; 
	box-sizing: border-box;
	width: 150px;
	height: 46px;
	font-size: 18px;
	padding: 10px 16px;
	margin-bottom: 30px;
}